<ion-header>
  <ion-toolbar>
    <ion-title>EnviarCentro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Categoría</ion-label>
  <ion-select placeholder="Select One" (ionChange)="this.getproducts($event)">
    <ion-select-option *ngFor="let category of listcategories" [value]="category.idcat" >{{category.strnomcat}}</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label>Producto</ion-label>
  <ion-select placeholder="Select One" okText="Okay" cancelText="Dismiss">
    <ion-select-option *ngFor="let product of listproduct" [value]="product.idprod">{{product.strnomprod}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-content>


  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona la categoría
      </ion-label>
    </ion-list-header>
  
    <!--<ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option *ngFor="let category of listcategories" [value]="category.idcat">{{category.strnomcat}}</ion-select-option>
      </ion-select>
    </ion-item>-->
  
    <!--<ion-item>
      <ion-label>Producto</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>-->

    <!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Cantidad enviada</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Comentario</ion-label>
  <ion-input></ion-input>
</ion-item>  
  </ion-list>


  <ion-button color="light">Enviar</ion-button>

  <!--<ion-img style="width: 80px; height: 80px;" src="img/Categoria.PNG"></ion-img>-->


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
