<img src="./../../../assets/img/centro.PNG">
<ion-content>
  <form [formGroup]="enviarCentroGroup">
  <ion-item-group class="caja">

<ion-item>
  <ion-label>Categoría</ion-label>
  <ion-select placeholder="Select One" (ionChange)="this.getproducts($event)">
    <ion-select-option *ngFor="let category of listcategories" [value]="category.idcat" >{{category.strnomcat}}</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label>Producto</ion-label>
  <ion-select placeholder="Select One" okText="Okay" cancelText="Dismiss">
    <ion-select-option *ngFor="let products of listproduct"  [value]="products" formControlName="stridprod">{{products.strnomprod}}</ion-select-option>
  </ion-select>
</ion-item>




  <ion-list>
    <!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating" >Cantidad enviada</ion-label>
  <ion-input type="number" formControlName="intcanven"></ion-input>
</ion-item>

<br>
<br>


<img src="./../../../assets/img/comentario1.PNG">

<ion-item>
  <ion-label position="floating">R//</ion-label>
  <ion-input formControlName="strcomentven"></ion-input>
</ion-item>  
  </ion-list>


  <ion-button  class="btnSend" color="light" (click)="this.prueba()"><b>Enviar</b></ion-button>

</ion-item-group>

  </form>

   <!-- ion-fab-button -->

   <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
  
    <ion-fab-button class="ionfab" color="light" ion-button full icon-only>
      <ion-icon style="color:#005851" name="grid-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button class="ionfabHome" [routerLink]="['../home']"><ion-icon style="color:#005851"  name="home-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
 

  <ion-fab-list side="top">
    <ion-fab-button class="ionfabCenter"  [routerLink]="['../centros']"><ion-icon style="color:#005851"  name="cube-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>

<ion-fab-list side="top">
  <ion-fab-button class="ionfabRandom" [routerLink]="['../devoluciones']"><ion-icon style="color:#005851"  name="shuffle-outline"></ion-icon></ion-fab-button>
</ion-fab-list>

  </ion-fab>
  
</ion-content>
