<ion-header>
  <ion-toolbar>
    <ion-title>Devoluciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona la categoría
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="rdbTecno">Tecnología</ion-select-option>
        <ion-select-option value="rdbPape">Papelería</ion-select-option>
        <ion-select-option value="rdbVivi">Vivienda</ion-select-option>
        <ion-select-option value="rdbAli">Alimentos</ion-select-option>
        <ion-select-option value="rdbMov">Movilidad</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Cantidad para devolución</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Comentario</ion-label>
  <ion-input></ion-input>
</ion-item>  
  </ion-list>


  <ion-button color="light">Enviar</ion-button>


</ion-content>
