<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produccion </ion-title>
    </ion-toolbar>
     <h3>categoria 1</h3>
  </ion-header>

</ion-content>
<ion-grid-padding-xl>
  <ion-col size="3">
    nombre
  </ion-col>
  <ion-col>
    cantidad
  </ion-col>
  <ion-col>
    fecha de ingreso
  </ion-col>
</ion-grid-padding-xl>

<ion-grid-column-padding-xs>
  <ion-col size="3" size-md>
    nombre  
  </ion-col>
  <ion-col size="3" size-md>
    000000    
  </ion-col>
  <ion-col size="3" size-md>
   xx/xx/xxxx
  </ion-col>
</ion-grid-column-padding-xs>

 <ion-fab-button item-end slot="end" color="dark"><ion-icon name="add-outline"></ion-icon> </ion-fab-button>
 