<ion-header>
  <ion-toolbar>
    <ion-title>crearCentro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>   

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Número de contacto</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item  >
  <ion-label position="floating">Departamento</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item  >
  <ion-label position="floating">Ciudad</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item  >
  <ion-label position="floating">Dirección</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-button color="light">Agregar</ion-button>


</ion-content>
