<ion-header>
  <ion-toolbar>
    <ion-title>nuevo producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
</ion-content>
<!-- esto como mensaje -->
<!-- se encuentra invisible con la propiedad *ngIf="!status" para volver a visible usas *ngIf="status"-->
<ion-card *ngIf="!status">
  <ion-item>
    <ion-icon name="alert-outline" slot="start"></ion-icon>
    <ion-label>error</ion-label>
    <ion-button fill="outline" slot="end">ok</ion-button>
  </ion-item>
</ion-card>

<ion-card *ngIf="!status">
  <ion-item >
    <ion-icon name="checkmark-outline" slot="start"></ion-icon>
    <ion-label>agregado</ion-label>
    <ion-button fill="outline" slot="end">ok</ion-button>
  </ion-item>
</ion-card>


<ion-item>
  <ion-label position="stacked">ID</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">nombre</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">cantidad </ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button color="secondary">enviar</ion-button>



